.navbar {
  position: absolute;
  top: 0;
  left: 0;

  user-select: none;
}

.navbar__item {
  display: inline-block;
  width: 40px;
  text-align: center;

  color: #1b1b1b;
  background: #606060;

  padding: 6px;
  cursor: pointer;
}

.navbar__item:hover {
  background: #909090;
}
